.nav {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__item {    
    color: white;   
    padding: 0.5em 0.5em;
}

.nav__item a {
    color: white;
}

.nav__item a:visited {
    color: white;
}

.nav__logo {
    color: white;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
}