.colorbox {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow-y: hidden;
}

.colorbox__info {
    padding: 0;
    margin: 0 auto;
    border: 0;
    list-style-type: none;
    width: 100%;
}

.colorbox__item {
    display: block;
    text-align: center;
    overflow-wrap: break-word;

}