.credit-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.credit-box {
    margin: 0.5em 0.5em;    
    background-color: #1f2732;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0.5em auto;
}

.credit-box__item {
    margin: 0.5em 0.5em;
}

.credit-box__info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    padding: 0;
}

.credit-box__img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (min-width: 639px) {
    .credit-gallery {
        justify-content: flex-start;
    }

    .credit-box {
        width: 240px;
    }

    .credit-box__img {
        width: 240px;
        height: 200px;
    }
}
